/* 
Värvide valikul kasutatud järgmisi värvipalette:
http://www.color-hex.com/color-palette/358
http://www.color-hex.com/color-palette/1294 

*/

* {
	/* font-family: Georgia, "Trebuchet MS", serif; */
	font-family: "Century Gothic", sans-serif;
}

body {
	/*background: #ccc;*/
	background: linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%);
	margin: 0 auto;
}

a {
	color: #36c;
	text-decoration: none;
}

a:hover {
	color: #c36;
	text-decoration: underline;
}
	
#wrap {
	width: 750px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	border-radius: 15px;
	box-shadow: 0 0 50px 10px #ccc;
}

header {
	/* background: #03396c; */
	background: linear-gradient(#63ace5, #011f4b 70%);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
	
header h1 {
	font-weight: normal;
	font-size: 200%;
	font-variant: small-caps;
	color: #DEE3E7;
	padding: 20px;
	margin: 0;
}	

#navbar {
	padding: 5px;
	margin: 0px;
	list-style-type: none;
	border-top: 1px solid #DEE3E7;
	border-bottom: 5px solid #63ace5;
	background: #011f4b;
}

#navbar li {
	display: inline;
}

#navbar a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 100%;
	color: #DEE3E7;
	border-left: 1px #011f4b solid;
	border-right: 1px #011f4b solid;
	padding: 5px 5px;
	transition: background 0.3s, border-color 0.3s; 
}

#navbar a:hover {
	border-left: 1px solid #005C96;
	border-right: 1px solid #005C96;
	background: #03396c;
}

#current a {
	border-left: 1px solid #005C96;
	border-right: 1px solid #005C96;
	background: #03396c;
}

#sidebar {
	width: 180px;
	float: left;
}

#sidebar h2 {
	margin: 0;
	padding: 0px 5px 5px 10px;
	color: #fff;
	font-size: 100%;
	background: #63ace5;
}

#sidebar ul {
	padding: 0;
	border-top: 1px solid #fff;
	border-bottom: 5px solid #63ace5;
	margin: 0;
	list-style-type: none;
}

#sidebar ul li a {
	display: block;	
	text-decoration: none;
	font-size: 92%;
	color: #03396c;
	background: #e7eff6;
	padding: 5px 10px;
	border-bottom: 1px solid #fff;
}

#sidebar ul li a:hover {
	background: #DEE3E7;
}

#content {
	font-size: 90%;
	padding: 10px;
	min-height: 450px;
	height: auto;
	margin-left: 180px;
	text-align: justify;	
}

#content h2 {
	font-size: 130%;
	margin: 10px 0;
	padding-bottom: 3px;
	border-bottom: 2px solid #DEE3E7;
	color: #03396c;
}

#content h3 {
	font-weight: normal;
	font-size: 110%;
	margin: 5px 0 0;
	padding-bottom: 3px;
	color: #03396c;
}

#content p {
	margin: 0 0 10px 0;
	line-height: 140%;
}

#content b {
	color: #03396c;
}

#content ul, ol {
	list-style-type: square;
	padding-left: 25px;
	margin: 10px 0;
}

footer {
	background: #b3cde0;
	border-top: 1px #63ace5 solid;
	border-bottom: 1px #63ace5 solid;
	padding: 5px;
	font-size: 80%;
	color: #03396c;
	text-align: center;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

table {
	border: 1px solid #DEE3E7;
	width: 100%;
	margin-bottom: 10px;
	border-collapse: collapse;
}

tr, td, th {
	border: 1px solid #DEE3E7;
	padding: 3px;
}

caption {
	border: 1px solid #DEE3E7;
	border-bottom: none;
	text-align: center;
	font-weight: bold;
	color: #03396c;
	background: #e7eff6;
	padding: 3px 0;
}

img {
	max-width: 550px;
	margin-bottom: 10px;
	border: 1px #63ace5 solid; 
}

.imgDel {
	border: none;
	width: 15px;
	height: 15px;
	display: block;
    margin: 0 auto;
}

#login {
	margin: 0;
	position: relative;
	top: 10px;
	left: 5px;
	font-size: 70%;
}

#login a {
	padding: 2px 8px;
	text-decoration: none;
}

#info {
	width: 100%;
	background: #b3cde0;
	border-top: 1px #63ace5 solid;
	border-bottom: 1px #63ace5 solid;
	font-size: 100%;
	color: #03396c;
	padding: 8px 10px;
	top: 0px;
}

#info a {
	text-decoration: none;
}

.error {
	padding: 8px 45px;
	border: 1px solid red;
	background-color:#ffe8e8;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 110%;
	color: #D8000C;
	background-image: url("img/error.png");
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: 5px;	
}

.korras {
	padding: 8px 45px;
	border: 1px solid green;
	background-color: #DFF2BF;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 110%;
	color: #4F8A10;
	background-image: url("img/korras.png");
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: 5px;	
}

input {
	padding: 7px;
	margin-bottom: 10px;
	background: #e7eff6; 
	border-radius: 4px;
	border: 2px #ccc solid;
	width: 230px;
	transition: border-color 0.3s;
	outline: none;
}

input:hover {
	border: 2px #8dc9e5 solid;
}

input:active, input:focus {
	border: 2px #63ace5 solid;
}

.nupp {
	padding: 7px;
	margin-bottom: 10px;
	border-radius: 4px;
	background: #63ace5;
	color: #fff;
	text-decoration: none;
	border: none;
	transition: background 0.3s;
	outline: none;
}

.nupp:hover, .nupp:focus{
	background: #8dc9e5;
}